@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
/*

///////////////////////
ESTILOS DEL NAVBAR
///////////////////////
*/
.nav{
  display: flex;
  background-color: blue;
  
}
.nav a{
  margin: 5%;
  color: white;
  text-decoration-line:none;
}
.menuNav{
  display: flex;
  list-style-type: none;
}
.menuNav li{
  margin: 2%;
}


h1 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*
ESTILOS DEL MAIN 
*/
.imagenPortada {
  width: 100%;
  max-height: 300PX;
}

h1 { 
  margin: 5%;
  text-align: center;
}

.portadaPrincipal ul{
  display: flex;
  list-style-type: none;
}

.portadaPrincipal ul li { 
  margin: 1%;
  text-align: center;
}

.portadaPrincipal{
  display: grid ;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 100px ;
  align-items: center;
  text-align: center;
}

.boxModel{
  display: flex;
  margin-left:auto;
}

.box {
  width: 95%;
  height: 150px;
  background-color: cornflowerblue;
  margin: 1%;
  overflow:auto;
  text-align: center;
}

/*
////////////////////////////////////////////
ESTILOS DEL PAGE NUESTROS PILARES/ GRILLAS
////////////////////////////////////////////
*/
.boxModelGrid {
    display: grid ;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 100px ;
    gap: 20px;
}

.serviciosGrid {
  display: grid ;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 100px 100px ;
  gap: 20px;
}

/*
///////////////////////////////////////////
ESTILOS DEL FOOTER
///////////////////////////////////////////
*/ 
.footer{ 
  height: 10%;
  background-color: blue;
  display: flex;
  height: 100px;;
}
.footer img{
  margin:  2%;
  justify-content: space-around;
  padding: 0 20px;
  align-items: center;

}



