/*
///////////////////////
ESTILOS DEL NAVBAR
///////////////////////
*/

.nav{
    display: flex;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    .GiEvents{
    width: 9%;
    max-height: 30%
    position fixed;
    margin:1%;
    border-radius: 5%;
    background-color: transparent;
    
}
    a{
        margin: 2%;
        color: white;
        text-decoration-line:none;
        transition: 1s;
        }
    .menuNav{
        display: flex;
        list-style-type: none;
        li{
            margin: 10%;
            a:hover {
                color: black;
                font-size: 20px;
                transition: 1s;
                }
        }
    }
        h1 {
            font-size: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            letter-spacing: 5px;
        }
        .navbar {
        background-color: blue;
        position: fixed;
        }
}



