@media (max-width:480){
    .formUbicacion{
        flex-direction:row;
        text-align: center;
        
        .elementosContacto{
            flex-direction: row;
        }
    
        .btn-contacto{
            margin-top: 10px;
        }
    }
}